/*INICIO PROYECTO CSS-------*/
/*column-count: 2; /* crea columnas 
column-gap: 15px;
text-shadow: 0rem 0rem 5rem blue;  /*estas dos propiedades muy utiles para decoracion*/
/*transform: scale(1) rotate(180deg) skewX(5deg);} /*permite girar los items, incluso hacerlos crecer sin width

/*diseño general - para todas las pantallas ------- */
*{margin:0;padding: 0;box-sizing: border-box;}
html{font-size: 62.5%;max-width: 90%;height: 4000px;margin: 0 auto;border: 1px solid brown;}
body{background-image: url(./images/background.png);}

/*este es el primer contenedor flex del programa*/ /* El uso de flex es valioso para sitios con diseño responsive------*/
/* el contenedor del flex siempre debe ser el padre------*/
/* flex-containers ---- flex-items ------

.navaa{
background-color:#107DD8;
opacity: 0.8;
position: fixed;
width:89.8%;
display:flex;
padding: 8px;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
/* se le asigna tamaño de letra al h1--------
nav > h1{
font-size:3.2rem;
box-shadow: 10px 10px 3px 3px #0e62ed;
}
/* el FLEXBOX y su uso debedarse en el contenedor principal, en contenedores secundarios, no hay un problema real con lo demas atributos------
.li_flex_hijo_flex{
font-size: 2rem;
padding:7px;
background-color:#0692F9;
height:35px;
display:inline-block;
}

/*aplicacion pseudo: para li------
.li_flex_hijo_flex:hover
{
color:azure;
height: 37px;
}

/*se integra img principal (logo)-------
.img_principal{
width:100px;
height:100px;
border-radius: 40px;
box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem blue;
}
/*se integra imagen secundaria (detras de la principal)-------
.img_alternativa{
width:100px;
height:100px;
border-radius: 40px;
box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem blue;
position: relative; left: -51%;
opacity: 0;
}
.img_alternativa:hover
{
opacity:1;
}


/*-----*/ /*---------*/ /*-------------*/ /*---------------------*/ /*-------------*/ /*-------------*/ 
/*DISEÑO PARA DISPOSITIVOS INFERIORES A 425 PX (300-450)*/  /*mobile fisrt*/


html{height:2450px;}
/*contenedor padre el cual debe llevar el display flex*/

    .navaa{display:flex;justify-content:center;flex-wrap: wrap;align-items: center;background-color:#107DD8;opacity: 0.75;height:370px;}

/*se aplican diseños a la imagen (parte logo principal) */

    .img_principal
        {position: relative; margin-left: 25%;margin-top: 7.5px; width:85px; height:85px;border-radius: 40px;box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem blue;}

/*Se aplican diseños a la imagene (parte logo anterior (0 visibilidad inicial :hover = 1;)*/

    .img_alternativa
        {position:relative;margin-left: 25%;margin-top: -87px;margin-bottom: 7.5%;width:85px;height:85px;border-radius: 40px;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem blue;opacity: 0;}
    .img_alternativa:hover{opacity:1;}

/*se interviene el titulo principal (oficinas legales) --- :hover (change color)*/

    nav > h1{margin-top: -30px;font-size:3.8rem;text-shadow: 2px 2px 10px #001863;}
    nav > h1:hover{color:blue;}

/*.flex is the ul container > li */
    .flex{margin-top: 12px;}

/*se aplican styles a los li into ul(.flex) ---se declara id único en html para position, :hover(color:whitesmoke)*/

    .li_flex_hijo_flex{font-size: 2rem;padding:6px;background-color:#0692F9;height:35px;list-style-type: none;}
        
    #l1{margin-left: 28%; width: 45%;}#l2{margin-left: 0%;}#l3{margin-left: 6%;width: 89%;}#l4,#l6{margin-left:8%; }#l5{margin-left:13%;width: 75%;}
    #l1:active, #l2:active, #l3:active , #l4:active, #l5:active ,#l6:active {color:whitesmoke;}#l4{width: 84.5%;}#l6{width: 85%;}

   

/*se aplican estilos al contenedor flex del aside*/

    .flex_figure{display:flex;flex-wrap: wrap;align-items: center;justify-content:center;}

/*se aplican estilos a las imagenes del aside (leyes) ------------------*/       
    
    .img_legal{width:30%;padding:1px;position:relative; top: 50px;z-index: -1; height: 150px;}

/*se aplican estilo a los parrafos (titulos de las leyes)*/   

    .parrafo_leyes1{position: absolute; top:450px; left:10.2%;text-align: center; font-size: 1.2rem;width:25%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;} 

    .parrafo_leyes2{position: absolute; top:450px; text-align: center; font-size:1.2rem; width:25%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

    .parrafo_leyes3{position: absolute; top:450px; text-align: center; font-size:1.2rem; width:25%; left:64.2%; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

    .parrafo_leyes4{position: absolute; top:600px; max-width: 115%; text-align: center;left:10.2%; font-size:1.2rem; width:25%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

    .parrafo_leyes5{position: absolute; top:600px; text-align: center; font-size:1.2rem; width:25%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

    .parrafo_leyes6{position: absolute; top:600px; text-align: center; font-size:1.2rem; width:25%; left: 64.2%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

/*aplicacion de estilo al elemento ancala (a) */
        .ap:active{box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #aaa;}

/*---------------------------*/
/*aplicacion estilos main_content*/

/*se aplican los estilos al flex container del main*/

    .container_flex_main{display: flex; flex-wrap: wrap;flex-direction: row;}

/*se agregan estilo al h1 (MUÑOZ &)*/

    .h1_hijo_main{text-align: center;margin-top: 30px;border: 2.5px dotted #0692F9;border-radius: 20px;box-shadow:inset 0 0 20px 0 #2C14FF;}

/*se aplican estilos a p_main*/

    .p_hijo_main{width:90%;margin-top: 20px;margin-left: 5%;text-align: center;font-size:1.35rem;column-count: 2;column-gap: 10px;text-shadow: 0rem 0rem 5rem blue;}

    .imagen_muñoz_y, .img_muñoz2_y{margin-top: 20px;margin-left: 15%;width: 70%;}

    .imagen_muñoz_y:active, .img_muñoz2_y:active{opacity: 0;}

    .h1_hijo2_main{text-align: center;margin-top: 30px;border: 2.5px dotted #0692F9;border-radius: 20px;box-shadow:inset 0 0 20px 0 #2C14FF;}

    .p_hijo2_main{width:90%;margin-top: 20px;margin-left: 5%;text-align: center;font-size:1.35rem; text-align: justify; text-shadow: 0rem 0rem 5rem blue;}

    
/*inicio estilos footer*/

    .container_flex_footer{display:flex;background-color: #107DD8;flex-wrap: nowrap;opacity: 0.8;margin-top: 38px;width:100%;height:500px; justify-content: center;}

    .hijo1_h1_footer{ position:relative;margin-top: 20px;text-align: center;font-size: 2rem;text-shadow: 0rem 0rem 0.3rem blue;}

    .comentariosss{position: relative;margin-top: 35px;margin-left: 5%; width:90%; height:70px; border:3px solid black;}

    .boton{ position:relative;margin-top:2px; margin-left: 60%; border: 3px solid black;}.boton:active{border:3px solid blue;}

    .img_informacion_final{width:50px; height:50px;padding:4px;margin-top:35px;}
    .img_informacion_final:hover{opacity:2; box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;}

 
    /*Fin diseño pagina en pantallas max-width 425px*/


/*-------------------*/
/*TO DO pantallas de mas de 425px*/
/*INICIO CONFIGURACION PANTALLAS max-width --px*/

/*Tema esencialmente de dimensiones, no posiciones*/


    /*TO DO ---Js---*/




